* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    height:100%;
    color: #ddd;
    background:  #333;
    font-family: "noto sans";
}
.codeArea {
    background-color: #7697a0; 
    color:  #ddddda; 
    
    width: 100%;
    height: 500px;
}
.codeArea:focus{
    outline: none;
    border-color: #333;
}

#new-tab-button {
    border: 1px solid transparent;
    padding: 1px;
    color:inherit;
    border-radius:4px;
    font-size:20px;
    background-color: #232b2b;
    margin:6px;
}

label i {
    position:absolute;
    right:12px;
    top:15px;
    font-size:12px;
}

label i:hover {
    color:#FF6666;
    transition: color 0.20s;
}

/* for tab */
#tabs {
  position: relative;   
  height:100%;
  clear: both;
  margin: 0;
}
.tab {
  float: left;
}
.tab label {
  background: 	#232b2b;
  padding: 10px; 
  border: 1px solid 	#232b2b;;
  margin-left: -1px; 
  display:block;
  position: relative;
  left: 1px; 
  width:140px;
  text-align:center;
  user-select:none;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 43px;
  left: 0;
  background: 	#232b2b;
  right: 0;
  bottom: 0;
  display:none;
  border: 1px solid 	#232b2b;
}
[type=radio]:checked ~ label {
  background: #414a4c;
  border-bottom: 1px solid	#232b2b;
}
[type=radio]:checked ~ label ~ .content {
  display: block;
}

/* ^ for tab */

