* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    height:100%;
    color: #ddd;
    background:  #333;
    font-family: "noto sans";
    user-select:none;
}
.codeArea {
    background-color: #7697a0; 
    color:  #ddddda; 
    
    width: 100%;
    height: 500px;
}
.codeArea:focus{
    outline: none;
    border-color: #333;
}

label i.fa-times {
    position:absolute;
    right:12px;
    top:15px;
    font-size:12px;
}

label i:hover.fa-times {
    color:#FF6666;
    transition: color 0.20s;
}

.unsaved {
  position:absolute;
  right:110px;
  top:15px;
  font-size:10px;
  display:none;
}

.button {
    display: inline-block;
    user-select: none;
    text-align:center;
    padding:5px 15px;
    border-radius: .25rem;
    margin-top: 6px;
}

#runButton {
    position: fixed;
    right:12px;
    top: 45px;
    color: #FFF;
    background-color: #466075;
    border-color: #466075;
    z-index:3;
    display:none;
}

#runButton:hover {
    background-color: #6188a8;
    color: #EEE;
    transition: background-color 0.5s ease;
}

/* for tab */
#tabs {
  position: relative;   
  clear: both;
  overflow-x:auto;
  white-space: nowrap;
  margin: 0;
}
.tab {
  float: left;
  display: inline-block;
}
.tab label:not(.onOffSwitch) {
  background: 	#232b2b;
  padding: 10px 30px;
  border: 1px solid 	#232b2b;;
  margin-left: -1px; 
  display:block;
  position: relative;
  left: 1px; 
  min-width:140px;
  text-align:center;
  user-select:none;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: fixed;
  top: 43px;
  left: 0;
  background: 	#232b2b;
  right: 0;
  bottom: 0;
  display:none;
  border: 1px solid 	#232b2b;
}
[type=radio] ~ label:hover {
    background-color:#4f5b5d;
    transition: background-color 0.5s ease;
}
[type=radio]:checked ~ label {
  background: #414a4c;
  border-bottom: 1px solid	#232b2b;
}
[type=radio]:checked ~ label:hover {
    background-color:#4f5b5d;
    transition: background-color 0.5s ease;
}
[type=radio]:checked ~ label ~ .content {
  display: block;
}

/* ^ for tab */

/* custom scroll */
/* width */
::-webkit-scrollbar {
    height:4px;
    width:6px;
    position:absolute;
    top: -10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #414a4c;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
/* ^ custom scroll */

/* for settings tab */ 

#settingsWin h1 {
    margin-bottom: 12px;
}

#settingsWin {
    width:auto;
    height: auto;
    border-radius: 6px;
    padding: 8px 20px 30px 30px;
    background-color:#4f5b5d;
    position: fixed;
    margin-top:30px;
    left: 50%;
    transform: translate(-50%, 0);
}

#settingsContent {
    background-color: #263238;
    border: 1px solid #263238;
}

#settings-icon {
    position: relative;
    font-size:22px;
    top: -4px;
    left:-10px;
    color:#98aece;
}

#settingsCloseIcon {
    font-size: 18px;
    position:relative;
    top: -4px;
    left: 5px;
}

#settingsCloseIcon:hover {
    color:#FF5555;
    transition: color 0.10s;
}


#inclusiveDiv {
    margin:30px;
}

.description {
    font-size:12px;
    padding: 15px;
}

.rowContent {
    padding: 5px 10px;
}

.line {
    margin-bottom: 20px;
}

.line p {
    display:inline-block;
    line-height: 34px;
    margin-left: 5px;
}

.lineDesc {
    float:left;
    font-size:15px;
}

.rowDiv {
    clear:both;
}

/* onOffSwitch */
.onOffSwitch {
  position: relative;
  float:left;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.onOffSwitch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #98aece;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* ^ onOffSwitch */

/* select list */
.selectList {
    display: block;
    float:left;
    clear:both;
    margin-top: 5px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* ^ select list */


/* ^ for settings tab */


